# Default ignored files
/shelf/
/workspace.xml
.env
/.idea
/webcrawl_data/
/index_storage/
/elastic_persistent_dir/
/testing_features/chromadb_storage/
/data/
/data_handling/build/
data_handling/data_handling.egg-info/
/Experiment/logs/